.headerlitepaper {
  background: url(../HeaderLitepaper/images/Img_07.jpg);
  background-repeat: no-repeat;
  min-height: 640px;
  background-position: bottom -180px left -630px;
  position: relative;
  .nav {
    background-color: transparent;
  }
  .category_name {
    h2 {
      color: #d8e8ff;
      &::after {
        background-color: #d8e8ff;
      }
    }
    h3 {
      color: #d8e8ff;
      &::before {
        background-color: #d8e8ff;
      }
    }
    h3 {
      color: #d8e8ff;
    }
  }
  .come_back {
    text-decoration: none;
    position: relative;
    p {
      color: #f1c2c7;
      margin-left: 50px;
      font-size: 16px;
    }
    &::after {
      content: '';
      background: url(./images/left.svg);
      background-repeat: no-repeat;
      position: absolute;
      width: 38px;
      height: 7px;
      top: 25px;
    }
  }
  .container {
    padding-top: 84px;
  }
  .category_name {
    margin-top: 120px;
    margin-bottom: 75px;
  }
  .seemore {
    color: #f1c2c7;
    transform: rotate(270deg);
    position: absolute;
    left: 8px;
    bottom: 60px;
    &::after {
      content: '';
      position: absolute;
      width: 125px;
      height: 1px;
      background-color: #f1c2c7;
      top: -5px;
      left: 0;
    }
  }
}

@media (min-width: 768px) {
  .headerlitepaper {
    .category_name {
      h3 {
        max-width: 700px;
        // &::after {
        //   width: 700px;
        // }
      }
    }
    .come_back {
      top: 40px;
    }
    .seemore {
      left: 20px;
    }
  }
}

@media (min-width: 1200px) {
  .headerlitepaper {
    background-position: bottom 0 left -120px;
    background-size: cover;
    background-position: center;
    min-height: 900px;
    .seemore {
      left: 85px;
      bottom: 100px;
      font-size: 17px;
    }
    .come_back {
      top: 0;
    }
    .container {
      padding-top: 200px;
    }
  }
}
@media (min-width: 1900px) {
  .headerlitepaper {
    position: relative;
    width: 100%;
    .seemore {
      left: -13%;
    }
    .seemore_text {
      width: 200px;
      position: absolute;
      bottom: 0;
    }
  }
}
